
@model OctoBotSharp.Web.Models.Auth.ForgottenPassword

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
<p>Enter your email address and an email will be sent to you with a link to reset your password.</p>
@using (Html.BeginForm("ForgotPassword"))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(excludePropertyErrors: true)
    
    <button class="btn btn-primary" type="submit">Reset Password</button>
}
