@using OctoBotSharp.Web.Models.Auth

@model ResetPassword

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
<p>Please enter a new password</p>

@using (Html.BeginForm("ResetPassword"))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(excludePropertyErrors: true)

    <button class="btn btn-primary" type="submit">Reset Password</button>
}
